-r ../../ci-requirements.txt
certifi==2026.2.25
colorama==0.4.6
jellyfish==1.2.1
jinja2==3.1.6
pathspec==1.0.4
platformdirs==4.9.4
PyYAML==6.0.3
schema==0.7.8
typing_extensions==4.15.0
websockets==13.1
